apiVersion: apps/v1
kind: Deployment
metadata:
  name: registration-api
  namespace: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: registration-api
  template:
    metadata:
      labels:
        app: registration-api
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: registration-api
          image: panoschor/bank:device-registration-1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: registration-secret
                  key: DATABASE_URL
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
---
apiVersion: v1
kind: Service
metadata:
  name: registration-api
  namespace: apis
spec:
  type: ClusterIP
  selector:
    app: registration-api
  ports:
    - name: http
      port: 8080
      targetPort: 8080